@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, .deliveryTime, .priceHolder {
    font-family: 'Roboto Condensed', sans-serif;
}

.productPage {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
}

.oneProduct {
  background-color: white;
  width: 15%;
  margin: 15px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cacaca;
}

.name{
  font-size: 20px;
  margin: 10px;
}

.imageHolder {
  width: 150px;
  height: 100px;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
}

.list{
  margin: 5px;
}

.listItem {
  font-size: 14px;
  list-style-type: circle;
}

.priceHolder {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
}

.button {
  background-color: #82bd82;
  font-size: 15px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
}

.deliveryTime {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin: 0;
}
