@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #82bd82;
  height: 75px;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.page {
  width: 90%;
  margin-left: 5%;
}

.productHeader {
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 92%;
  background-color: #cacaca6b;
}

.apotek {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.headerHeading{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
}

#headerButton {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffeb3b;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: 0;
}

h1, .deliveryTime, .priceHolder {
    font-family: 'Roboto Condensed', sans-serif;
}

.productPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oneProduct {
  background-color: white;
  width: 16%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cacaca;
}

.productTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name, .name2 {
  font-size: 20px;
  margin: 10px;
  margin-left: 0;
}

.imageHolder {
  width: 100%;
  height: 135px;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 5px;
}

.description {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
}

.oneProduct:hover .description {
  display: block;
  z-index: 3;
}

.oneProduct:hover .name {
  display: none;
}

.oneProduct:hover .list {
  display: none;
}

.oneProduct:hover .imageHolder {
display: none;
}

.list{
  margin: 5px;
}

.listItem {
  font-size: 14px;
  list-style-type: circle;
}

.priceHolder {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
}

.button {
  background-color: #82bd82;
  font-size: 15px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border: 0;
}

.button:hover {
  background-color: #ffeb3b;
}

.deliveryTime {
  text-align: center;
  color: gray;
  font-size: 14px;
  margin: 0;
}

@media (min-width: 600px) and (max-width: 1024px)  {
  .oneProduct {
    width: 40%;
  }
  .headerHeading{
    display: none;
  }
  .name, .name2 {
    text-align: center;
    font-size: 24px;
  }
}

@media (min-width: 425px) and (max-width: 600px)  {
  .oneProduct {
    width: 90%;
  }
  .headerHeading{
    display: none;
  }
  .imageHolder {
    width: 100%;
    height: 150px;
  }
  .name, .name2 {
    text-align: center;
    font-size: 30px;
  }
}
